{%extends 'base.html'%}
{%load static%}
{% static 'images' as BaseURL%}


{%block content1%}
<div class="home" >

	<!-- Home Slider -->
	<div class="home_slider_container">
		<div class="owl-carousel owl-theme home_slider">

			<!-- Slide -->
			<div class="owl-item">
				<!---->
				<div class="background_image" style="background-image:url({% static 'images/Thread_background.jpg' %})">
				</div>
				<div class="home_slider_content_container">
					<div class="container">
						<div class="row">
							<div class="col">
								<div class="home_slider_content">
									<div class="home_title">
										<h2>Designs To Live For </h2>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{%endblock%}
			{%block content2%}
			<div class="destinations" id="destinations" style="height: max-content;">
				<div class="container">
					<div class="row">
						<div class="col text-center">
							<div class="section_subtitle">Perfection of the craft</div>
							<div class="section_title">
								<h2>Popular Designs</h2>
							</div>
						</div>
					</div>
					<div class="row destinations_row">
						<div class="col">
							<div class="destinations_container item_grid">

								<!-- Destination -->
								{%for item in all_items%}
								<div class="destination item">
									<div class="destination_image">
										<!-- IF A STATIC URL DO LIKE BELOW
								<img src="{{BaseURL}}/{{dest.img}}" alt="">-->
										<img src={{item.Image.url}} alt="">
										{%if item.Offer%}
										<div class="spec_offer text-center"><a href="#">Special Offer</a></div>
										{%endif%}

									</div>
									<div class="destination_content">
										<div class="destination_title"><a href="destinations.html">{{item.Title}}</a>
										</div>
										<div class="destination_subtitle">
											<p style="color:#181818 ;">
												{{item.Description}}
												<hr color="#181818">
											</p>
											<p style="color:#181818 ;">
												{{item.get_Clothe_Type_display  }}
												<hr color="#181818">
											</p>
											<p style="color:#181818 ;">	
												{{ item.get_Category_display }}
											</p>
										</div>

										<div class="destination_price">
											{% if item.Price == 0.0 %}
											Contact For Price
											{%else%}
											From ₹{{item.Price}}
											{%endif%}
											</div>
									</div>
								</div>
								{%endfor%}
								{%endblock%}